.main__search {
  overflow: hidden;
  padding-left: 15px;
  input.form-control {
    border: none;
    border-radius: 0;
    &:focus {
      box-shadow: none;
    }
  }
  .input__wrap {
    position: relative;
    padding-left: 22px;
    border: 1px solid #ced4da;
    border-radius: 0.2rem;
    .icon__search {
      width: 16px;
      height: 16px;
      position: absolute;
      left: 5px;
      top: 50%;
      margin-top: -9px;
    }
  }
}
