.sidebar-wrap{
    width:280px;
    float:left;
    height: 100vh;
    background:#fff;
    border-right: 1px solid #eee;
    position:fixed;
    z-index: 10;
    @media(max-width: 768px){
        width:220px;
    }
}
.ui.vertical.menu .item:before{
    background:rgba(0,0,0,0) ;
}
.sidebar-nav{
    margin-top:20px;
    .ui.vertical.menu{
        width: 100%;
        border:none;
        box-shadow: none;
        .item{
            padding: 0;
            a{
                display: inline-block;
                width: 100%;
                padding:20px 15px;
                font-size: 16px;
                border-left:3px solid #fff;
                color: #777;
                text-decoration: none;
                transition:.4s;
                
                &:hover{
                    background: #f6f6f6;
                    border-color:#39A3ED;
                }
            }
            .title{
                width: 100%;
                padding:20px 15px;
                color: #777;
                border-left:3px solid #fff;
                &:hover{
                    background: #f6f6f6;
                    border-color:#39A3ED;
                }
            }
            .content{
                a{
                    padding-left:35px;
                    border-bottom: 1px solid #f6f6f6;
                }
            }

        }
    }
}
.sidebar-logo {

    text-align: center;
    margin: 0 auto;

    border-bottom:1px solid #eee;
    img{
        padding: 10px 15px;
        height: 64px !important;
        object-fit: contain;
    }
}

.rcs-custom-scroll-handle {
    height: 0px !important;
}
.content.active {
    padding: 0px !important;
}

.dropdown{
    position: relative;
    .arrow-wrap{
        position: absolute;
        right: 20px;
        transition: .4s;
    }
}
.dropdown.active{
    .arrow-wrap{
        transform: rotate(90deg);
    }
}

.active .item a, .active > .active > a{
    background: #f6f6f6 !important;
    border-left-color: #39A3ED !important;
}