@import '../../../assets/base/variables.scss';

#header {
  background-color: #01152E;
  position: relative;
  z-index: 100;

  .navbar {
    .nav-link {
      color: #fff;
      position: relative;
      text-transform: uppercase;
      font-size: 16px;
      padding: 5px 15px;
      font-family:Poppins , sans-serif;

      // &::before {
      //   content: '';
      //   height: 4px;
      //   max-width: 0;
      //   width: 100%;
      //   position: absolute;
      //   left: 0;
      //   top: 100%;
      //   margin-top: 6px;
      //   background-color: $red;

      //   @media screen and (max-width: 991px) {
      //     margin-top: -4px;
      //   }
      // }
        &:hover{
          opacity: 0.8;
        }
      &.active {
        &::before {
          max-width: 100%;
        }
      }
    }
  }

  .top__header {
    padding: 5px 0;
    background-color: $blue;
    color: #fff;

    h5 {
      margin: 0;
    }
  }
}

.brand__logo {
  height: 50px;
  padding:2px 0;
}
.nav-link.btn-primary{
  margin-left: 5px;
  border-radius:5px;
  // &:hover{
  //   background-color: #0065d0;
  // }
}