@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800');
@import 'base/mixins.scss';
@import 'base/variables.scss';
@import 'base/semanticCssOverride';
@import 'base/base.scss';
@import 'components/icofont.scss';
@import 'components/dashboard.scss';
@import 'userdashboard/dashboard.scss';
@import 'userdashboard/packages.scss';
@import 'userdashboard/refer_share.scss';
@import 'userdashboard/fav_qstn.scss';
@import 'userdashboard/refer_history.scss';
@import 'userdashboard/support.scss';
@import 'userdashboard/medicronyquiz.scss';
@import 'userdashboard/my_profile.scss';
@import 'userdashboard/user_preference.scss';
@import 'userdashboard/notification.scss';
@import 'userdashboard/my_cart.scss';
@import 'userdashboard/support_detail.scss';
@import 'userdashboard/reset_password.scss';
@import 'userdashboard/practicequestionnaire.scss';
@import 'userdashboard/resultdetail.scss';
@import 'fonts/customfonts.scss';

body {
  font-family: 'Poppins', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
}

#wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}
