.drop__frame {
  padding: 1rem;

  h5 {
    color: #29a8e0;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 0;
  }

  a {
    color: #000;

    &:hover {
      color: #29a8e0;
    }
  }
}

.donation__drop {
  h4 {
    font-size: 1.8rem;
  }

  padding: 30px 0;
  background-image: url('./world.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
