.not__found__page {
  text-align: center;
  display: flex;
  padding: 5rem 0;
  flex-direction: row;
  align-items: center;
  .heading {
    position: relative;
    margin-bottom: 2rem;
  }
  h1 {
    margin: 0;
    font-size: 12rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 2px;
  }
  h2 {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 1.4rem;
    padding: 2px 10px;
    background-color: #fff;
    text-transform: uppercase;
  }
}
