@import '../../../assets/base/variables.scss';


.login {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.login__box {
  width: 380px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 3px 10px #e8e8e8;
  padding: 40px 20px;
  text-align: center;
  background: linear-gradient(135deg, #9AFFD0 10%, #6CC4EB 100%);
}

.form__group {
  position: relative;
}

.input__login {
  border-radius: 50px;
  border: none;
  box-shadow: 0 0 4px #999;
  background-color: #fff;
  padding-left: 60px;
}

.input__img {
  position: absolute;
  left: -8px;
  top: -8px;
}

.input__password {
  position: absolute;
  right: 10px;
  top: 8px;
}

.button__login {
  background-color: #F4FBFD;
  color: $blue;
  border: none;
  width: 100%;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 0px;
  opacity: 1;
  transition: all .4s ease-in-out;

  &:hover {
    opacity: .9;
    background-color: #fff;
    color: $blue;
  }
}

// .login a:not([href]):not([tabindex]) {
//   color: #fff;
//   cursor: pointer;
//   font-weight: 500;
// }

.text__login {
  font-size: 12px;
  color: #fff;
  transition: opacity .2s ease-in-out;
  opacity: 1;

  &:hover {
    color: #fff;
    opacity: .7;
  }
}

// .form__group input:-webkit-autofill {
//   background-color: #fff;

//   &:hover,
//   &:focus {
//     background-color: #fff;

//   }
// }
.form__group input:-webkit-autofill,
.form__group input:-webkit-autofill:hover,
.form__group input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}
