@import '../../../assets/base/variables.scss';

$light-green: #9AFFD0;
$light-blue:#6CC4EB;
$box-shadow: 0px 8px 28px rgba(0,0,0,0.2);
$btn-blue:#068DF8;

*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
label{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.form-control{
  border-radius: 25px;
  margin-bottom: 30px;
  padding: 10px 25px;

  &:focus{
    box-shadow: none;
    border-color:$btn-blue;
  }
}

.login-wrap{
  height: 100vh;
  display: grid;
  align-items: center;
  background: linear-gradient(130deg,$light-green,$light-blue);

  .login-form{
    margin: 0 auto;
    width: 25%;
    background: #fff;
    padding: 50px 35px;
    box-shadow: $box-shadow;
    border-radius:10px;
    position: relative;

    &::before{
      position:absolute;
      content: '';
      height: 105px;
      width: 84px;
      background:url('wave.png');
      top: 0;
      right: 0;
    }
    &::after{
      position: absolute;
      content:'';
      height: 105px;
      width: 84px;
      bottom: 0;
      left:0;
      background:url('wave.png');
      transform: rotate(-180deg)
    }
    .btn-primary{
      background:$btn-blue;
      border:none;
      display: inline-block;
      width: 100%;
      border-radius:25px;
      padding: 10px 25px;
      transition:0.3s ease;
      box-shadow: 0px 0px 0px rgba(0,0,0,0);

      &:hover{
        background:$btn-blue;
        box-shadow:0px 8px 16px rgba(0, 0, 0, 0.25);
      }
    }
    .password-field{
      position: relative;
      span.showPass {
          position: absolute;
          top: 57%;
          right: 15px;
      }
    }
  }
}

.text__login {
  font-size: 12px;
  color: #fff;
  transition: opacity .2s ease-in-out;
  opacity: 1;

  &:hover {
    color: #fff;
    opacity: .7;
  }
}

.form__group input:-webkit-autofill,
.form__group input:-webkit-autofill:hover,
.form__group input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

