@import '../../../assets/base/variables.scss';

.contact {
  p {
    margin-bottom: 0;

    a {
      font-weight: 600;
      color: $red;
    }
  }
  label {
    font-family: 'Staatliches', cursive;
    font-size: 16px;
  }

  .col-lg-6:nth-child(1) {
    box-shadow: 6px 2px 15px #d4d4d4;
    padding: 30px;
    position: relative;
  }

  .col-lg-6:nth-child(2) {
    background-color: #f7f7f7;
    box-shadow: 6px 2px 15px #d4d4d4;
    padding: 30px;
    color: #333333;

    .btn {
      background-color: $red;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }
}
