.reset_psw_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.reset_responsive {
  max-width: 600px;
  margin: 0 auto;
  padding: 4rem 0;
}
.reset_password {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 30px 0px #d6d6d6;
  padding: 30px;
  .button-primary {
    width: 100% !important;
  }
  p {
    color: #575757;
    font-size: 18px;
    font-weight: 500;
  }
  .field > label {
    font-size: 15px !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 500 !important;
    color: #575757 !important;
  }
  .field input {
    font-family: 'Poppins', sans-serif !important;
    padding: 1em !important;
    padding-left: 20px !important;
    color: #4a4a4a !important;
    font-weight: 500;
  }
  .has-indicator {
    position: relative;
  }
  .has-indicator .icon-eye,
  .has-indicator .icon-eye-off {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 20px;
  }
  .reset_continue {
    cursor: pointer;
    color: white !important;
    background: #029ba9 !important;
    border-radius: 50px !important;
    padding: 10px 70px !important;
    font-size: 16px !important;
    outline: none;
    border: 0;
    display: inline-block;
    text-align: center;
    box-shadow: 0px 8px 30px -10px #029ba9;
  }
  .error_msge {
    color: #e64e4e;
    p {
      color: #e64e4e;
    }
  }
}
@media only screen and (max-width: 767px) {
  .reset_responsive {
    margin: 0 1em;
  }
}
