.reset_responsive_user_pre {
  width: 450px;
  h5 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 18px;
    color: #575757;
    padding-bottom: 8px;
    border-bottom: 2px solid #eee;
  }
  .options_wrap {
    margin-bottom: 20px;
    line-height: 30px;
  }
  button {
    width: 100% !important;
  }
}
