@import '../../../assets/base/variables.scss';

.project {
  ul {
    padding-left: 0;

    li {
      display: flex;
      list-style: none;
      padding: 15px 0;
      border-bottom: 1px solid #e5e5e5;

      .link {
        min-width: 100px;
        padding-left: 10px;
      }
    }
  }
}

.project__detail {
  .container {
    max-width: 700px;
  }
}
