.two-col-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    @media(min-width: 768px){
        grid-template-columns: 245px auto;
    }
    @media(min-width: 1420px){
        grid-template-columns: 300px 700px;
    }
}
.product-image{
    height: 220px;
    background:url('placeholder.png');
    img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}
.product-detail{
    p{
        color: #777;
        span{
            font-weight: bold;
            color: #4A4A4A;
        }
    }
}
.button {
    padding: 15px 25px !important;
    font-size: 16px !important;
    border-radius: 0px !important;
    color:#fff !important;
    box-shadow:0px 0px 0px rgba(0,0,0,0);
    // &:hover{
    //     box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
    // }
}
.buy-btn{
    background:#068DF8 !important;
    &:hover{
        background:#0077d6 !important;
    }
}