.two-col-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    @media(min-width: 768px){
        grid-template-columns: 245px auto;
    }
    @media(min-width: 1420px){
        grid-template-columns: 300px 700px;
    }
}
.product-image{
    height: 220px;
    background:url('placeholder.png');
    img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}
.product-detail{
    p{
        color: #777;
        span{
            font-weight: bold;
            color: #4A4A4A;
        }
    }
}
.button {

    font-size: 16px !important;
    color:#fff !important;

    &:hover{
        text-decoration: none;
    }
}
.buy-btn{
    background:#068DF8 !important;
    border-radius: 5px !important;
    &:hover{
        background:#0077d6 !important;
    }
}