@import './topNavigation.scss';
@import './sidebar.scss';

.dropzone {
  margin: 20px 0;
  text-align: center;
  cursor: pointer;
  border: 2px dashed black;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s cubic-bezier(0.8, 0, 0.2, 1);
  &:hover {
    border-color: #5bc0de;
    border-style: solid;
    box-shadow: 0 0 10px #009dc9;
    background-color: #fff;
  }
}

.dashboard__content {
  padding: 40px;
  margin-left: 200px;
  margin-top: 64px;
}
.login-holder {
  max-width: 400px;
  margin: 0 auto;
  padding: 4rem 0;
}
//  toggle
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-toggle {
  cursor: pointer;
  position: relative;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: red;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.toggle_nav .navbar-toggle {
  display: none;
  outline: none;
}
.user_mobile {
  display: none;
}
@media screen and (max-width: 767px) {
  .toggle_nav .navbar-toggle {
    display: block;
  }
  .toggle_collapsed {
    left: -200px;
  }
  .dashboard__content {
    padding: 20px;
    margin-left: 0;
    margin-top: 64px;
  }
  .user_mobile {
    display: block;
  }
  .user_desktop {
    display: none;
  }
  .dashboard__sidebar .sidebar__profile {
    padding: 20px 16px 15px;
  }
}
