.event__list {
  padding: 60px 0;

  .entry__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 0;
    margin-bottom: 0.5rem;
    .sm__text {
      font-size: 0.8rem;
    }
  }
  .entry__date {
    font-size: 12px;
    font-weight: 700;
  }

  .img__holder {
    flex: 1;
  }
  .media-body {
    flex: 1;
  }
  .event__media {
    &.full-width {
      flex-direction: column;
    }
    @media screen and (max-width: 767.98px) {
      display: block;
    }
  }
}
