.main_title {
    margin-bottom: 30px !important;
    color:#0F1A36;
    font-size: 24px;
}

.product-title{
    font-size:18px;
    color: #43425D; 
    font-weight:bold;
    margin-bottom: 15px;
}

.product-listing{
    margin-right: 30px;
    margin-bottom:30px;
}
.product-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:30px;
    @media(min-width:1420px){
        grid-template-columns: 1fr 1fr 1fr 1fr;   
    }
    @media(max-width:768px){
        grid-template-columns:1fr 1fr;
        grid-gap:20px;
    }
}
.product-item {
    background: #fff;

    box-shadow: 0px 0px 1px rgba(84,84,84,0.1); 
    position: relative;
    top: 0;
    transition:.4s ease-in-out;

    &:hover{
        top:-5px;
        box-shadow: 0px 0px 28px rgba(0,0,0,0.2); 
    }
}
.product-wrap{
    text-align: center;
    padding: 40px 20px;
    padding-bottom: 20px;
    position:relative;
    .product-price{
        font-size: 36px;
        color:#16C172;
        font-weight:bold;
    }
    .ribbon{
        display: inline-block;
        background:#de0000;
        color:#fff;
        padding:5px 15px;
        position: absolute;
        top:0;
        left:-6px;

        &:before{
            position: absolute;
            content: '';
            top:0;
            left:98%;
            width: 20px;
            height: 100%;
            background: #de0000;
            clip-path: polygon(100% 0, 50% 50%, 100% 100%, 0 100%, 0 0);
        }
        &:after{
            position: absolute;
            content:'';
            left:0px;
            top:100%;
        //    bottom:0;
            height:6px;
            width:6px;
            background-color: #a00000;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 45% 47%);
        }
    }
}
.buttons-wrap{
    // display:grid;
    // grid-template-columns:1fr 1fr;
    // grid-gap:10px;
    .button {
        padding: 15px 25px !important;
        font-size: 16px !important;
        border-radius: 0px;
        color:#fff;
        box-shadow:0px 0px 0px rgba(0,0,0,0);
        // &:hover{
        //     box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
        // }
    }
    .buy-btn{
        background:#068DF8;
        &:hover{
            background:#0077d6;
            color:#fff;
        }
    }
    .detail-btn{
        background:#16C172;
        &:hover{
            background:#07a25b;
            color:#fff;
        }
    }

}
.feature-list{
    padding:0px;
   
    li{
        text-align: left;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: 25px 1fr;
        i{
            margin-right:10px;
            color: #07a25b;
            font-weight: 800;
            font-size: 20px;
        }
    }
}
.product-grid {
    .ui.segment{
        min-height: 200px;
    }
}