#app{
    background:#f9f9f9;
}
.main-wrap{
    margin-left:280px;
    @media(max-width:768px){
        margin-left:220px;
    }
}
.content-wrap {
    padding-left: 30px;
    padding-top: 95px;
}

.no-products{
    height:200px;
    img{
        object-fit: contain;
        padding: 20px 0;
        height: 100%;
    }
 }

 .doughnut-item {
    width: 100%
  }
  
  .doughnut-graph {
    display: flex;
    flex-wrap: wrap;
  }
  
  .doughnut-graph>div {
    flex: 0 50%;
    box-sizing:border-box
  }