h1,
h2,
h3,
h4,
h5,
h6,
ul,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
}
.package__grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  margin-bottom: 60px;
  .package__column {
    padding: 15px;
    flex: 0 0 25%;
    // max-width: 25%;
    img {
      max-width: 100%;
      display: block;
      width: 100%;
    }
  }
}
.chart_margin {
  margin-bottom: 60px;
  .toggle_chart {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 30px;
    .ui.fitted.toggle.checkbox {
      margin: 0 14px;
    }
    .ui.toggle.checkbox input:checked ~ .box:before,
    .ui.toggle.checkbox input:checked ~ label:before {
      background: #029ba9 !important;
    }
  }
}

.pkg__wrapper {
  padding: 30px 25px;
  h1 {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: #353535;
    margin-bottom: 18px;
  }
  ul {
    margin-bottom: 30px;
  }
  ul li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
  }
  ul li .icon-check {
    color: #8b8b8b;
    position: absolute;
    left: 2px;
    top: 3px;
  }
  ul li p {
    color: #8b8b8b;
    font-size: 14px;
    font-weight: 400;
  }
  button {
    cursor: pointer;
    width: 85%;
    background: #029ba9;
    border: 0;
    padding: 22px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    letter-spacing: 0;
    line-height: 0;
    border-radius: 50px;
    outline: none;
    font-size: 17px;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 8px 30px -10px #029ba9;
  }
}
.img__wrap {
  // position: relative;
  background: transparent;
  box-shadow: 0px 0px 20px #dcdcdc;
  min-height: 100%;
  &:hover .hover__cart {
    opacity: 1;
  }
  span {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #e54d4d;
    padding: 5px 30px;
    text-transform: capitalize;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
  }
}
figure {
  position: relative;
}
.hover__cart {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba($color: #029ba9, $alpha: 0.8);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
  z-index: 1;
  .icon-shopping-cart {
    margin-right: 10px;
  }

  button {
    font-family: 'Poppins', sans-serif;
    border: 0;
    margin: 0;
    background: #e54d4d;
    padding: 9px 35px;
    opacity: 1;
    z-index: 111;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    p {
      display: inline;
      margin-left: 15px;
      text-transform: capitalize;
    }
  }
}
// my-packages-css
.package_not_found {
  padding: 15px;
  .package_not_found_grid {
    position: relative;
    background: transparent;
    box-shadow: 0px 0px 20px #e4e4e4;
    // min-height: 100%;
    padding: 50px 100px 80px 30px;
    text-align: center;
    h1 {
      color: #6e6e6e;
      font-size: 70px;
      font-weight: 600;
    }
    span {
      display: block;
      margin: 23px 0 44px 0;
      font-size: 16px;
      color: #a8a8a8;
    }
    button {
      cursor: pointer;
      background: #029ba9;
      border: 0;
      padding: 22px;
      color: #fff;
      font-family: 'Poppins', sans-serif;
      text-transform: capitalize;
      letter-spacing: 0;
      line-height: 0;
      border-radius: 50px;
      outline: none;
      font-size: 17px;
      margin: 0 auto;
      display: block;
      box-shadow: 0px 8px 30px -10px #029ba9;
    }
    img {
      position: absolute;
      top: 60px;
      right: 0;
    }
  }
}

@media screen and (min-width: 1199px) and (max-width: 1500px) {
  .package__grid .package__column {
    flex: 0 0 33.33%;
  }
}
@media screen and (min-width: 526px) and (max-width: 1198px) {
  .package__grid .package__column {
    flex: 0 0 50%;
  }
}
@media screen and (min-width: 320px) and (max-width: 525px) {
  .package__grid .package__column {
    flex: 0 0 100%;
  }
}
