.my_cart {
  .ui.relaxed.list {
    background: transparent;
    box-shadow: 0px 0px 20px #dcdcdc;
    padding: 30px 20px 0px;
    margin: 0;
    .item {
      display: flex;
      padding-bottom: 30px !important;
      margin-bottom: 30px;
      border-bottom: 1px solid #eee;
      .content {
        padding-left: 30px !important;
        .header {
          text-transform: capitalize;
          font-size: 16px;
          font-weight: 500;
          color: #353535;
          margin-bottom: 8px;
        }
        .description {
          color: #8b8b8b;
          font-size: 14px;
          font-weight: 400;
        }
        span {
          display: inline-block;
          background: #dd4b39;
          color: #fff;
          padding: 11px 30px;
          text-transform: capitalize;
          border-radius: 50px;
          cursor: pointer;
        }
      }
    }
  }
  .ui.segment {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 30px;
    background: transparent;
    box-shadow: 0px 0px 20px #dcdcdc;
  }
  .order_summary {
    margin-bottom: 30px;
    h1 {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 25px;
      color: #575757;
    }
    .order_row {
      display: flex;
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid #eee;
      strong {
        flex: 1;
        color: #9f9f9f;
        font-size: 16px;
        font-weight: 500;

        display: flex;
        align-items: flex-start;
      }
      span {
        flex: 1;
      }
    }
    button {
      display: inline-block;
      background: #029ba9;
      color: #fff;
      padding: 11px 30px;
      text-transform: capitalize;
      border-radius: 50px;
      cursor: pointer;
    }
  }
  .checkout {
    h1 {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 15px;
      color: #575757;
    }
    img {
      margin-left: 0;
      margin-right: 15px;
    }
  }
}
.img-holder-payment {
  width: 175px;
  height: 80px;
  // float: left;
  margin-bottom: 40px;
  padding-left: 5px;
  border: 1px solid #c5c5c5;
  cursor: pointer;
}
.img-holder-payment:hover {
  border: 1px solid #029ba9;
}
.img-holder-payment.active {
  border: 1px solid #029ba9;
}
.my_cart .ui.grid .item img {
  align-self: flex-start;
}
@media screen and (max-width: 1230px) {
  .my_cart .ui.grid .item img {
    width: 200px;
  }
}
@media screen and (max-width: 1080px) {
  .my_cart .ui.relaxed.list .item .content span {
    padding: 11px 20px;
  }
}
@media screen and (max-width: 525px) {
  .my_cart .ui.relaxed.list .item {
    flex-wrap: wrap;
  }
  .my_cart .ui.grid .item img {
    width: 100%;
  }
  .my_cart .ui.relaxed.list .item .content {
    padding-left: 0 !important;
    margin-top: 15px;
  }
}
