button{
    color: #000;
}
.react-calendar__navigation{
    background:#f1f1f1;
    height: 50px;
    margin:0px;
}
.react-calendar__month-view__days__day--neighboringMonth{
    color:#b1b1b1;
}
.react-calendar__month-view__weekdays {
    background: #f0f8ff;
}
abbr[data-original-title], abbr[title]{
    text-decoration: none;
}