.loginBox {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 30px 0px rgba(214, 214, 214, 1);
  padding: 66px 40px 40px;
  .alt-link {
    color: #e64e4e;
    cursor: pointer;
  }
  pre {
    text-align: center;
  }
  h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #575757;
  }
  .rego {
    line-height: 8px;
  }
}
.custom__input {
  &.ui[class*='left icon'].input > input {
    padding-left: 60px !important;
    border-radius: 50px;
    background: #f6feff;
    border-color: #b0f6fd;
    color: #4a4a4a;
    font-weight: 600;
  }
  .icon {
    color: white;
    background: #029ba9;
    border-radius: 50px !important;
  }
}
.login__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  .loginBox {
    img {
      max-width: 100%;
      display: block;
      width: 60%;
      margin: 0 auto;
      margin-bottom: 60px;
    }
    .field {
      margin: 0 0 1.5em;
    }
  }
}
.custom__button {
  color: white !important;
  background: #e54d4d !important;
  width: 100%;
  margin: 20px 0 0 !important;
  border-radius: 50px !important;
  padding: 15px 0 !important;
  font-size: 16px !important;
  box-shadow: 0px 0px 40px -6px rgba(237, 11, 11, 0.7) !important;
}
.frg-pw {
  text-align: center;
  display: block;
  cursor: pointer;
}
.signupnowac {
  text-align: center;
  display: block;
  margin: 30px 0 0 0 !important;
  .Signup {
    color: #e54d4d;
    font-weight: 600;
  }
}
//
.register__user {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  img {
    max-width: 100%;
    display: block;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .register__user_pd {
    min-width: 400px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 0px #d6d6d6;
    padding: 66px 40px 40px;
  }
  .ui.form .field > .selection.dropdown {
    border-radius: 50px;
    background: #f6feff;
    border-color: #b0f6fd;
    color: #4a4a4a;
    font-weight: 600;
  }
  .ui.fluid.input > input,
  .ui.input > input {
    border-radius: 50px;
    background: #f6feff;
    border-color: #b0f6fd;
    color: #4a4a4a;
    font-weight: 600;
  }
  .ui.selection.active.dropdown .menu {
    border-color: inherit !important;
    border-radius: 12px;
  }
  .ui.active.selection.dropdown {
    border-radius: 50px !important;
  }
  .ui.button {
    color: white !important;
    background: #e54d4d !important;
    width: 100%;
    margin: 40px 0 20px !important;
    border-radius: 50px !important;
    padding: 15px 0 !important;
    font-size: 16px !important;
    box-shadow: 0px 0px 40px -6px rgba(237, 11, 11, 0.7) !important;
  }
  .hasCaptcha {
    margin-top: 20px;
  }
  p {
    display: block;
    text-align: center;
    a {
      color: #e54d4d;
      font-weight: 600;
    }
  }
}
.reset_password {
  h3 {
    font-family: 'Poppins', sans-serif !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    padding-bottom: 6px !important;
  }
  .ui.button {
    cursor: pointer;
    width: 70%;
    background: #029ba9;
    border: 0;
    padding: 22px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0;
    line-height: 0;
    border-radius: 50px;
    outline: none;
    font-size: 17px;
    box-shadow: 0px 8px 30px -10px #029ba9;
  }
}
.ui.modal.transition.visible.active.mini_reset {
  width: 550px;
  .ui.modal .close {
    top: 15px !important;
    right: 10px !important;
    color: #dd4b39;
  }
  p.positive.message {
    padding: 15px;
    border: 1px solid #87bd87;
    background: #e7f1e7;
    margin-bottom: 8px;
  }
  .negative.message {
    padding: 15px;
    border: 1px solid #c58383;
    background: #e9c7c7;
    margin-bottom: 8px;
  }
  .close {
    color: #dd4b39;
  }
}
@media only screen and (max-width: 767px) {
  .ui.modal.transition.visible.active.mini_reset {
    width: 100%;
    margin: 0 15px;
    position: static;
  }
}
@media only screen and (min-width: 320px) and (max-width: 525px) {
  .loginBox {
    min-width: 0;
    padding: 50px 20px 40px;
  }
  .signupnowac .Signup {
    display: block;
  }
  .login-holder {
    margin: 0 1em;
  }
  .register__user .register__user_pd {
    min-width: auto;
    padding: 50px 15px 40px;
  }
  .register__user img {
    width: 70%;
    margin-bottom: 40px;
  }
  .hasCaptcha {
    transform: scale(0.8);
    transform-origin: 0 0;
  }
  .register__user .ui.button {
    margin: 10px 0 20px !important;
  }
}
