.support {
  h1 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #575757;
  }
  .ui.segment {
    h4 {
      font-weight: 600;
    }
  }
  .rounded.pointer {
    margin: 0 0 20px;
    cursor: pointer;
    color: #56a7af;
    background: #f4feff;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #b1e9ef;
    h4 {
      font-weight: 400;
      margin-bottom: 4px;
      font-size: 16px;
      font-weight: 500;
    }
  }
  .button.secondary {
    color: #fff;
    background: #e64e4e;
    padding: 12px 30px;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 8px;
    cursor: pointer;
    border-radius: 50px;
  }
  .ui.form {
    margin: 12px 0 20px;
    input {
      font-family: 'Poppins', sans-serif !important;
      // border-radius: 50px !important;
      // background: #e7e7e7 !important;
      // border-color: #fff !important;
      padding: 1em !important;
      padding-left: 20px !important;
      color: #4a4a4a !important;
      font-weight: 500;
    }
    .ui.button {
      color: #fff;
      background: #029ba9 !important;
      padding: 1em 3em;
      display: inline-block;
      cursor: pointer;
      border-radius: 50px;
    }
  }
  .creat_tct {
    color: #fff;
    background: #e64e4e;
    padding: 12px 30px;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 8px;
    cursor: pointer;
    border-radius: 50px;
  }
  .segment.form {
    margin-top: 30px;
    h4 {
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      margin-bottom: 10px;
    }
  }
  .ui.celled.table tr td,
  .ui.celled.table tr th {
    padding: 15px 30px;
  }
  table tbody tr:nth-child(even) {
    background: #e7e7e7;
  }
  .ui.form.support_tct input,
  .ui.form.support_tct textarea {
    font-family: 'Poppins', sans-serif !important;
    padding: 1em !important;
    padding-left: 25px !important;
    color: #4a4a4a !important;
    background: transparent !important;
    border: 1px solid rgba(34, 36, 38, 0.15) !important;
    outline: 0;
    font-weight: 500 !important;
    border-radius: 0.28571429rem !important;
  }
  .support_tct {
    .ui.field {
      margin-bottom: 20px;
    }
    .ui.field label,
    .inline.ui.fields label {
      font-weight: 500;
      font-size: 14px;
    }
    .ui.message {
      margin: 1.6em 0;
    }
    .dropzone {
      border: 2px dashed #029ba9;
      margin: 10px 0 20px;
    }
  }
  .sup_cancel {
    color: #fff;
    background: #e64e4e;
    padding: 12px 30px;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 8px;
    cursor: pointer;
    border-radius: 50px;
  }
}
@media screen and (max-width: 925px) {
  .refer__history .field input {
    margin-bottom: 15px !important;
  }
  .table_wrap {
    overflow-x: scroll;
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .support .field input {
    margin-bottom: 15px !important;
  }
  .support .creat_tct {
    width: 100%;
    text-align: center;
  }
  .support .ui.form .fields {
    flex-direction: column;
  }
}
